<h2>Technology Book Names</h2>
<mat-list>
  <mat-list-item>
    <span matListItemTitle>Angular - ng-book the complete angular </span>
    <span matListItemLine>by Nate Murray</span>
  </mat-list-item>
  <mat-list-item>
    <span matListItemTitle>Node Js - Beginning Node.js</span>
    <span>by Basrat ali Sayed</span>
  </mat-list-item>
  <mat-list-item>
    <span matListItemTitle>Big Data - BIG DATA Principles and Paradigms </span>
    <span matListItemLine>by Rajkumar Bhuyya</span>
  </mat-list-item>
  <mat-list-item>
    <span matListItemTitle>Artificial Intelligence - Life 3.0</span>
    <span>by Max Tegmark</span>
  </mat-list-item>
</mat-list>


